<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <filter>
        <filter-name>ContentTypeFilter</filter-name>
        <filter-class>ru.rsreu.expertsandteams.api.filter.ContentTypeFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ContentTypeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>ru.rsreu.expertsandteams.api.filter.AuthFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/experts-and-teams/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>ru.rsreu.expertsandteams.api.filter.PermissionFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/experts-and-teams/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>ru.rsreu.expertsandteams.api.controller.FrontController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/experts-and-teams/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>404</error-code>
        <location>/jsp/pages/404.jsp</location>
    </error-page>
</web-app>